.login-details {
  width: 100%;
  background-color: var(--background-color-blue);
  background-image: url("../assets/student.png");
  background-repeat: no-repeat;
  background-position: center bottom 0px;
  border-top-left-radius: var(--border-radius-20);
  border-bottom-left-radius: var(--border-radius-20);
  opacity: 0.9;
  display: flex;
}
.details-tile-wrapper {
  max-height: 30vh;
  margin: var(--padding-20);
  display: flex;
  align-self: flex-end;
}
.detail-tile {
  display: flex;
  flex-direction: column;
  color: var(--color-text-white);
  font-weight: 500;
  padding: var(--padding-10) var(--padding-10);
  background: hsla(0, 0%, 100%, 0.35);
  border-right: 1px solid #ffff;
  border-bottom: 1px solid #ffff;
  overflow: auto;
  text-wrap: pretty;
}
.role {
  font-size: x-small;
}
