.login-details {
  width: 100%;
  background-color: var(--background-color-blue);
  background-image: url("../assets/student.png");
  background-repeat: no-repeat;
  background-position: center bottom 0px;
  border-top-left-radius: var(--border-radius-20);
  border-bottom-left-radius: var(--border-radius-20);
  opacity: 0.9;
  display: flex;
}
.details-tile-wrapper {
  max-height: 20vh;
  margin: var(--padding-20);
  border-radius: var(--border-radius-20);
  display: flex;
  align-self: flex-end;
  overflow: auto;
}
.details-tile {
  display: flex;
  flex-direction: column;
  color: var(--color-text-white);
  padding: var(--padding-20) var(--padding-60);
}
