.login-form-wrapper {
  width: 100%;
  background-color: var(--background-color-white);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: var(--padding-20) var(--padding-60);
  gap: var(--gap-30);
  opacity: 1 !important;
  border-top-right-radius: var(--border-radius-20);
  border-bottom-right-radius: var(--border-radius-20);
  overflow: auto;

  button {
    background: linear-gradient(
      to right,
      var(--color-red),
      var(--color-yellow)
    );
    border-radius: var(--border-radius-0);
  }

  h1 {
    align-self: center;
    font-weight: var(--font-weight-100);
    color: var(--color-red);
    margin: 0;
    text-transform: uppercase;
    font-family: "fangsong";
  }

  input {
    padding: var(--padding-10);
  }
}

.login-form {
  display: flex;
  flex-direction: column;
  gap: var(--gap-20);
  align-items: stretch;
  p {
    color: var(--color-red);
    font-size: small;
    align-self: flex-end;
  }
}

.userid,
.password {
  display: flex;
  flex-direction: column;
}

.login-other-options {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.or-wrapper {
  display: flex;
  flex-direction: row;
}

.or-border {
  width: 80px;
  border-bottom: 1px solid black;
  margin: var(--padding-10);
}

.create-new-account {
  color: var(--color-red);
  text-decoration: underline;
}
